.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;

  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 20px;
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  color: gray;
  font-size: 14px;
}

.TodoItem > button {
  border: none;
  color: gray;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}
