.Background {
  height: 85vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.Background .Folder_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(4, 90px);
  gap: 21px 19px;
  justify-content: center;
}

.Background .touch_section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.7); /* 반투명 배경 예시 */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
