.App {
  margin: 0 auto;
  width: 500px;
  background-image: url("./assets/main_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
