.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1;
  padding: 15px;
  outline: none;
  border: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}

.Editor button {
  width: 80px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 144, 255);
  color: white;
  cursor: pointer;
}
